* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #019789 0%,#019789 15%, #d9dbd5 15%, #d9dbd5 100%);
    background-repeat: no-repeat;
}
.flex {
    display: flex;
}

.contenitore {
    height: 90vh;
    width: 160vh;
    background-color: white;
}
.sliderSx {
    height: 90vh;
    width: 60vh;
    background-color: bisque;
}
.sliderDx {
    height: 90vh;
    width: 100vh;
    background-image: url("../img/mine.jpg");
    overflow: scroll;
}

.header {
    height: 10vh;
    background-color: #EAEAEA;
    width: 100%;
    border-left: 2px solid rgb(155, 149, 14);
}
img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: inline-block;
}
.icone i {
    margin-left: 0,5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #019789;
}
.g img, span {
    margin-left: 1rem;
    margin-top: 10px;
    margin-right: 0,5rem;
    cursor: pointer;
}
.g span {
    margin-left: 1rem;
    margin-top: 20px;
    margin-right: 0,5rem;
    cursor: pointer;
}
/* main parte sinistra */

.main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
}
.box {
    width: 100%;
    height: 15%;
    background-color: #FFF;
}
.box img {
    margin-bottom: 15px;
}
.box i, a {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}
.box1 a {
    margin-bottom: 10px;
    margin-left: 5rem;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.color {
    color: #a4a49e;
}
.box:hover {
    background-color: #c9c9c3;
}
.ricerca {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 3px;
}
.box1 {
    background-color: #8EDAFC;
}  
/* inizio parte destra */

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.image {
    margin-bottom: 15px;
    margin-left: 1rem;
    cursor: pointer;
}
.tipe {
    width: 590px;
    height: 80%;
    margin-top: 5px;
    border-radius: 7px;
    border: 1px solid white;
}
i {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #019789;
    font-size: 20px; 
}
.best {
    margin-left: 130px;
    display: inline-block;
    font-size: 10px;
}
/* sezione centrale parte destra */
.medium {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.verde {
    background-color: #D5F9BA;
    padding: 2 rem;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 80%;
    margin-top: 20px;
}
.white {
    background-color: white;
    padding: 2 rem;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black
}
.medium p {
    padding: 3px;
}
.white  span {
    margin-left: 75%;
    font-size: 10px;
}
.verde span {
    margin-left: 75%;
    font-size: 10px;
}
.box1 i {
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}